<div id="inicio">
<div class="row col-md-12" >
    <div class="d-flex justify-content-center gap-2">
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Plazas</h4>
                </div>
                <div class="card-body">
                    <img src="src/assets/images/carro.png" alt="Avatar"><br>
                    <span id="idplazascarro"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Plazas</h4>
                </div>
                <div class="card-body">
                    <img src="src/assets/images/moto.png" alt="Avatar"><br>
                    <span id="idplazasmoto"></span> 
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Clientes</h4>
                </div>
                <div class="card-body">
                    <img src="src/assets/images/clientes.png" alt="Avatar"><br>
                    <span id="idclientes"></span> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="col-md-6 p-5 mt-5 text-bg-dark rounded-3">
        <h1 class="tituloProyecto d-flex justify-content-center" >Mintic 2022</h2>
            <h4 class="tituloProyecto d-flex justify-content-center" >Universidad Industrial de Santader</h4>
                <br>
        <p>
            <i class="fa-solid fa-check fa-lg check-azul"></i>&nbsp;
            Easy Parking - Grupo O21-02
            <br>
            <br>
            Integrantes:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moncaleano Moncaleano Alex <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contacto: alexjohnmoncaleano@hotmail.com  cel: 3155732954<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Portilla Jaimes Nelson <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contacto: portillajaimesn@gmail.com  cel: 3017088056
            <br>
            
        </p>
    </div>
</div>
</div>