<div class="carousel-item active" id="fondo">
    <img src="src\assets\images\inicio.png" class="d-block w-100" alt="1">
    <div class="carousel-caption d-none d-md-block">
      <h3>Easy Parking - Grupo O21-02</h3>
      <p>Universidad Industrial de Santander</p>
    </div>
</div>
<div class="page-header pt-3">
    <h3><i class="fab fa-dashcube fa-fw"></i> Bienvenido</h3>
</div>

<br>
<br>

<div class="d-flex justify-content-center">
    <div class="form-acceso col-md-3 mt-5" id="logindiv">
        <form action="javascript:login();" id="formaRegisCrear" class="validarFormulario"
        novalidate>>
            <div class="card">
                <div class="card-header">
                    Usuario: admin <br>
                    Contraseña: 1234

                </div>
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <div class="form-floating">
                        <input class="form-control" id="usu" placeholder="usuario" />
                        <label for="usu">Usuario</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="cla" placeholder="clave" />
                        <label for="cla">Contraseña</label>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button class="w-100 btn btn btn-warning" type="submit">
                        Iniciar sesión
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="d-flex justify-content-center" id="check">

    <div class="col-md-6 mt-4">
        <div class="alert alert-primary alert-dismissible fade show" role="alert" id="loginMsgOk"
            style="display: none;">
            <strong> registrado </strong> correctamente
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="loginMsgError"
            style="display: none;">
            Usuario o Contraseña <strong>incorrectos</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </div>

</div>