<div class="col-auto px-0" id="menulateral" style="display: none;">
    <div id="sidebar" class="collapse collapse-horizontal show border-end" style="
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/assets/images/nav-font.png');
    background-size:cover;
    z-index: 1;
    transition: all .2s ease-in-out;
    background-position: center center;">
        <div class="d-flex justify-content-center">
            <figure class="full-box nav-lateral-avatar mt-4">
                <img src="src/assets/images/Logoparking.png" alt="Avatar">
                <figcaption class="roboto-medium text-center text-white fond size">
                     <br />
                    <h3>EASY PARKING</h3>
                    <small class="roboto-condensed-light">Grupo O2102</small>
                </figcaption>
            </figure>
        </div>

        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
            <div class="flex-shrink-0 p-3" style="width: 280px;">
                <ul class="list-unstyled ps-0">
                    <li>
                        <a href="#home" class="nav-link link-light">
                            <i class="fa-solid fa-house"></i> <span>Inicio</span>
                        </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button
                            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                            data-bs-toggle="collapse" data-bs-target="#factu-collapse" aria-expanded="false">
                            <i class="fa-solid fa-money-bill-transfer"></i>&nbsp; Registro
                        </button>
                        <div class="collapse" id="factu-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#regiscrear" 
                                    class="link-light d-inline-flex text-decoration-none rounded">Nuevo</a></li>
                                <li><a href="#regislist" 
                                    class="link-light d-inline-flex text-decoration-none rounded">Listar</a></li>
                                <!--<li><a href="/#" class="link-light d-inline-flex text-decoration-none rounded">Administrar</a></li>-->
                            </ul>
                        </div>
                    </li>
                
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-white"
                            data-bs-toggle="collapse" data-bs-target="#cate-collapse" aria-expanded="true">
                            <i class="fa-solid fa-people-arrows"></i>&nbsp;Personas
                        </button>
                        <div class="collapse" id="cate-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#cateadd"
                                        class="link-light d-inline-flex text-decoration-none rounded">Agregar</a></li>
                                <li><a href="#catelist"
                                        class="link-light d-inline-flex text-decoration-none rounded">Listar</a></li>
                                <li><a href="#cateadmin"
                                        class="link-light d-inline-flex text-decoration-none rounded">Administrar</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-white"
                            data-bs-toggle="collapse" data-bs-target="#prove-collapse" aria-expanded="true">
                            <i class="fa-solid fa-briefcase"></i>&nbsp;Plazas
                        </button>
                        <div class="collapse" id="prove-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#listplazas"
                                        class="link-light d-inline-flex text-decoration-none rounded">Listar</a></li>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button
                            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                            data-bs-toggle="collapse" data-bs-target="#clien-collapse" aria-expanded="false">
                            <i class="fa-solid fa-people-group"></i>&nbsp; Usuarios
                        </button>
                        <div class="collapse" id="clien-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#usuadd"
                                            class="link-light d-inline-flex text-decoration-none rounded">Agregar</a></li>
                                    <li><a href="#usulist"
                                            class="link-light d-inline-flex text-decoration-none rounded">Listar</a></li>
                                    <li><a href="#usuadmin"
                                            class="link-light d-inline-flex text-decoration-none rounded">Administrar</a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    
                    <li class="mb-1">
                        <button
                            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                            data-bs-toggle="collapse" data-bs-target="#produ-collapse" aria-expanded="false">
                            <i class="fa-regular fa-rectangle-list"></i>&nbsp; Configuraciones
                        </button>
                        <div class="collapse" id="produ-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#confilist"
                                    class="link-light d-inline-flex text-decoration-none rounded">Listar</a></li>
                                <li><a href="#confiadmin"
                                    class="link-light d-inline-flex text-decoration-none rounded">Administrar</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>