<div class="page-header pt-3">
    <h3><i class="fa-solid fa-list fa-fw"></i> Administrar configuracion</h3>
</div>
<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <a href="#confilist" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-list fa-fw"></i> Lista</li>
            </a>
            <li class="list-group-item active"><i class="fa-solid fa-unlock-keyhole fa-fw"></i> Administrar</li>
        </ul>
    </div>
    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered" id="tablaConfiAdmin">
                    <thead>
                        <tr class="table-danger">
                            <th style="width: 1%;">id</th>
                            <th style="width: 4%;">Nom parck</th>
                            <th style="width: 6%;">Plazas Carro</th>
                            <th style="width: 6%;">Plazas moto</th>
                            <th style="width: 6%;">Prefijo fac</th>
                            <th style="width: 6%;">num Ini</th>
                            <th style="width: 6%;">Num End</th>
                            <th style="width: 6%;">Tarifa carro</th>                    
                            <th style="width: 6%;">Tarifa Moto</th>
                            <th style="width: 6%;">Frac Carro</th>                    
                            <th style="width: 6%;">Frac Moto</th>
                            <th style="width: 6%;">Vr dia Carro</th>                    
                            <th style="width: 6%;">Vr dia moto</th>
                            <th style="width: 6%;">Vr sem Carro</th>                    
                            <th style="width: 6%;">Vr sem Moto</th>
                            <th style="width: 6%;">vr mes carro</th>                    
                            <th style="width: 6%;">vr mes Moto</th>
                            <th style="width: 6%;">Actualizar</th>
                            <th style="width: 4%;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>