<div class="page-header pt-3">
    <h3><i class="fa-solid fa-list fa-fw"></i> Lista de Plazas Disponibles</h3>
</div>

<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item active"><i class="fa-solid fa-list fa-fw"></i> Lista</li>
        </ul>
    </div>

    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered" id="tablaPlazListar">
                    <thead>
                        <tr class="table-danger">
                            <th style="width: 33%;">Codigos Plazas Disponibles </th>
                            <th style="width: 33%;">Tipo de plaza </th>
                            <th style="width: 33%;">Estado </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>