<div class="page-header pt-3">
    <h3><i class="fa-solid fa-list fa-fw"></i> Lista de Vehiculos</h3>
</div>

<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <a href="#regiscrear" style="text-decoration: none;">
                <li class="list-group-item"><i class="fas fa-plus fa-fw"></i> Agregar</li>
            </a>
            <li class="list-group-item active"><i class="fa-solid fa-list fa-fw"></i> Lista</li>
            <a href="#" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-unlock-keyhole fa-fw"></i> Administrar</li>
            </a>
        </ul>
    </div>

    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered" id="tablavehiculos">
                    <thead>
                        <tr class="table-danger">
                            <th class="text-start" style="width: 25%;">Placa</th>
                            <th class="text-start" style="width: 25%;">Tipo</th>
                            <th class="text-start" style="width: 25%;">Plaza</th>
                            <th class="text-start" style="width: 25%;">fechaEntrada</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>