<div class="page-header pt-3">
    <h3><i class="fas fa-plus fa-fw"></i> Agregar vehiculo</h3>
</div>
<div class="row col-md-12">
    <div class="d-flex justify-content-center gap-2">
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Plazas</h4>
                </div>
                <div class="card-body">
                    <img src="src/assets/images/carro.png" alt="Avatar"><br>
                    <span id="idplazascarro"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Plazas</h4>
                </div>
                <div class="card-body">
                    <img src="src/assets/images/moto.png" alt="Avatar"><br>
                    <span id="idplazasmoto"></span> 
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Clientes</h4>
                </div>
                <div class="card-body">
                    <img src="src/assets/images/clientes.png" alt="Avatar"><br>
                    <span id="idclientes"></span>
                </div>
            </div>
        </div>
    </div>
    
</div>


<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center" id="regisboton" >
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item active"><i class="fas fa-plus fa-fw"></i> Agregar</li>
            <a href="#regislist" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-list fa-fw"></i> Lista</li>
            </a>
            <!--<a href="#" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-unlock-keyhole fa-fw"></i> Administrar</li>
            </a>-->
        </ul>
    </div>

    <div class="mb-3">

        <div class="card" id="regisReci">
            <div class="card-body">
                <h5 class="card-title">Información del vehiculo</h5>
                <div class="d-flex justify-content-center">
                    <div class="col-md-5">
                        <div class="mt-4">
                            <form action="javascript:registrovehiculo();" id="formaRegisCrear" class="validarFormulario"
                                novalidate>
                                <div>

                                    <div class="mb-3">
                                        <div class="col form-floating">
                                            <input type="text" class="form-control" id="placa" required
                                                placeholder="Placa" style="background-image: none;" />
                                            <label for="usu" style="color: #00000042; padding: 0.6rem;">Digita Placa</label>
                                            <select class="form-control" id="selecttypevehicle" required>
                                                <option>Seleccione</option>
                                                <option value="Motorcycle">Motorcycle</option>
                                                <option value="Car">Car</option>
                                            </select> 
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Registrar</button>  
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
        <div class="card">
            <div class="card-body" id="regisReciIngre" style="display: none;">
                <h5 class="card-title">Información del vehiculo</h5>
                <div class="d-flex justify-content-center">
                    <div class="col-md-5">
                        <div class="mt-4">
                            <form action="javascript:imprimir();" id="formaRegisCrear1" class="validarFormulario"
                                novalidate>
                                <div>
                                    <div class="mb-3">
                                        <div class="col form-floating">
                                            <table class="table table-sm table-striped table-bordered" id="tablaregisvehiculos">
                                                <thead>
                                                    <tr class="table-danger">
                                                        <th class="text-start" style="width: 25%;">Placa</th>
                                                        <th class="text-start" style="width: 25%;">Tipo</th>
                                                        <th class="text-start" style="width: 25%;">Plaza</th>
                                                        <th class="text-start" style="width: 25%;">fechaEntrada</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Imprimir recibo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="card">
        <div class="card-body" id="regisRecicheckout" style="display: none;">
            <h5 class="card-title">Checkout del vehiculo</h5>
            <div class="d-flex justify-content-center">
                <div class="col-md-7">
                    <div class="mt-6">
                        <form action="javascript:imprimir();" id="formaRegisCheckout" class="validarFormulario"
                            novalidate>
                            <div>
                                <div class="mb-6">
                                    <div class="col form-floating">
                                        <table class="table table-sm table-striped table-bordered" id="tablaregischeckoutvehiculos">
                                            <thead>
                                                <tr class="table-danger">
                                                    <th class="text-start" style="width: 15%;">Placa</th>
                                                    <th class="text-start" style="width: 10%;">Tipo</th>
                                                    <th class="text-start" style="width: 10%;">Plaza</th>
                                                    <th class="text-start" style="width: 25%;">fechaEntrada</th>
                                                    <th class="text-start" style="width: 25%;">fechaSalida</th>
                                                    <th class="text-start" style="width: 15%;">valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Imprimir recibo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">

        <div class="col-md-6 mt-4">
            <div class="alert alert-primary alert-dismissible fade show" role="alert" id="regisMsgOk"
                style="display: none;">
                Cliente <strong> registrado </strong> correctamente
                <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="regisMsgError"
                style="display: none;">
                Cliente <strong>NO fue registrado</strong> en la base de datos
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        </div>

    </div>
</div>