.container > div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(132, 131, 133);
    border: 2px solid rgb(31, 9, 47);
}
tabla {
    grid-column: 3;
    grid-row: 5;
  }
  .container1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
  }