<div class="page-header pt-3">
    <h3><i class="fa-solid fa-list fa-fw"></i> Administrar personas</h3>
</div>
<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <a href="#cateadd" style="text-decoration: none;">
                <li class="list-group-item"><i class="fas fa-plus fa-fw"></i> Agregar</li>
            </a>
            <a href="#catelist" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-list fa-fw"></i> Lista</li>
            </a>
            <li class="list-group-item active"><i class="fa-solid fa-unlock-keyhole fa-fw"></i> Administrar</li>
        </ul>
    </div>
    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered" id="tablaCateAdmin">
                    <thead>
                        <tr class="table-danger">
                            <th style="width: 5%;">Código</th>
                            <th style="width: 10%;">Nombre</th>
                            <th style="width: 10%;">Apellido</th>
                            <th style="width: 10%;">Tipo Doc</th>
                            <th style="width: 15%;">Numero de documento</th>
                            <th style="width: 15%;">Direccion</th>
                            <th style="width: 10%;">Telefono</th>
                            <th style="width: 15%;">Email</th>                    
                            <th style="width: 10%;">Acciones</th>
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>