<div class="page-header pt-3">
    <h3><i class="fa-solid fa-list fa-fw"></i> Lista de personas</h3>
</div>

<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <a href="#cateadd" style="text-decoration: none;">
                <li class="list-group-item"><i class="fas fa-plus fa-fw"></i> Agregar</li>
            </a>
            <li class="list-group-item active"><i class="fa-solid fa-list fa-fw"></i> Lista</li>
            <a href="#cateadmin" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-unlock-keyhole fa-fw"></i> Administrar</li>
            </a>
        </ul>
    </div>

    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered" id="tablaCateListar">
                    <thead>
                        <tr class="table-danger">
                            <th style="width: 6%;">Código</th>
                            <th style="width: 20%;">Nombre </th>
                            <th style="width: 20%;">Apellido</th>
                            <th style="width: 10%;">Tipo Doc</th>
                            <th style="width: 20%;">Numero de documento</th>
                            <th style="width: 34%;">Direccion</th>
                            <th style="width: 15%;">Telefono</th>
                            <th style="width: 25%;">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>